# RocksDB data directory
kvdb/

# OS-specific files
.DS_Store
Thumbs.db

# Go build cache & modules
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go workspace stuff
bin/
*.log

# Editor / IDE configs
.vscode/
.idea/
*.swp
*.swo

# Coverage and debug files
coverage.*
debug